@import "./variable";
@import "./mixins";

.heading {
    text-align: center;
}
.p1 {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    color: red;
}
.p2 {
    @extend .p1;
    color: blue;
}
nav {
    background-color: black;
    padding: 10px 20px;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    li {
        list-style: none;
        color: $main-color;
        &:hover {
            color: yellow;
            background-color: pink;
            padding: 30px;
            font-size: 20px;
        }
    }
}